body {
    font-family: "Kozuka Gothic Pro", "Helvetica Light", sans-serif;
}

h1 {
    text-align: center;
    color: steelblue;
}

p {
/*    text-align: center;*/
}

#units {
    text-align: center;
    color: lightsteelblue;
    font-weight: 600;
}

h4 {
    font-weight: normal;
}

#description {
    font-size: 12pt;
    padding: 0 200px;
}

#map-container {
    
}

#map {
    margin-left: 10px;
}

#tooltip {
    width: 250px;
}

#interactivity {
    padding-top: 10px;
}

#play {
    vertical-align: top;
    margin-left: 20px;
}

#slider {
    display: inline-block;
    width: 80%;
    margin-left: 20px;
    padding: 0;
}

#bottom-row {
    margin: 0 10px 0 10px;
}
