body {
    font-family: "Kozuka Gothic Pro", "Helvetica Light", sans-serif;
}

h1 {
    text-align: center;
    color: steelblue;
}

p {
    text-align: center;
}

.units {
    text-align: center;
    color: lightsteelblue;
    font-weight: 600;
}

h4 {
    font-weight: normal;
}

.description, h4, ul {
    font-size: 10pt;
}

.description {
    padding: 0 200px;
}

#map {
    width: 1460px;
    height: 600px;
    margin: 0 auto 50px auto;
}

#interactivity {
    margin-top: 140px;
    padding-top: 10px;
}

#play {
    vertical-align: top;
    margin-left: 10px;
}

#slider {
    display: inline-block;
    width: 80%;
    margin-left: 50px;
    padding: 0;
}

#bottom-row {
    margin: 0 10px 0 10px;
}
